@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
    padding: 0;margin: 0;
}
/* navbar */
.nav{
    height: 75px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.logo{
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.title span{
    color: orange;
}
.title{
    font-family: 'Poppins',sans-serif;
    letter-spacing: 1px;
}
.info{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    margin-right: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.info a{
    text-decoration: none;
    color: white;
    transition: all 0.1s;
}
.info a:hover{
    color: rgb(255, 208, 0);
    transform: scale(1.06);
}

/* welcome */
.welcome{
    background-color: black;
    color: white;
    margin: 20px auto;
    height: 300px;
    width: 99%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.welcome button{
    border-radius: 15px;
    padding: 6px 20px;
    background-color: yellow;
    font-weight: bolder;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.welcome button:hover{
    transform: scale(1.05);
    background-color: rgb(255, 196, 0);
}
/* product-categories */
.product-categories{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px 100px 40px 100px;
}
.product-categories img{
    height: 220px;
    width: 250px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    background-size: cover;
    transition: all 0.3s ease;
    cursor: pointer;
}
.product-categories img:hover{
    transform: scale(1.08);
}
.image{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image h3{
    margin: 15px 0px 50px 0px;
}


/* footer */
.footer{
    padding: 40px 0;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
ul{
    list-style-type: circle;
    line-height: 25px;
    margin: 10px 0px 0px 25px;

}
/* products */
.products{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px 30px;
    margin: 40px 20px;
}
.product-card{
    height: 320px;
    width: 250px;
    padding: 10px;
    box-shadow: 0 0 10px ;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.2s ease-in-out;
}
.product-card:hover{
    transform: translateY(-10px);
}
.product-card img{
    margin-bottom: 10px;
}
.product-card button{
    cursor: pointer;
    margin: 10px;
    padding: 2px 5px;
    background-color: rgb(141, 236, 236);
    font-weight: bolder;
    border-radius: 5px;
}
.product-card button:hover{
    transform: scale(1.02);
    background-color: aqua;
}
/* view product details modal */
.overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);
    z-index: 1000;
}
.modal{
    background-color: white;
    text-align: center;
    height: 80%;
    width: 400px;
    position: relative;
    display: flex;
    flex-direction:column ;
    align-items: flex-start;
    padding: 20px;
    border-radius: 20px;
    text-align: justify;
    gap: 20px;
}
.cls-btn{
    position: absolute;
    right: 30px;
    top: 20px;
    background-color: red;
    border: none;
    padding: 4px;
    cursor: pointer;
}


/* register and login */
.register-container, .login-container{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 5px;
    height: 80vh;
}
.register-form, .login-form{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
}
.register-form input, .login-form input{
    padding: 8px;
    border-radius: 10px;
}
.register-form button, .login-form button{
    margin-top: 10px;
    background-color: orange;
    padding: 10px;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    border-radius: 20px;
}
.register-form button:hover, .login-form button:hover{
    background-color: darkorange;
    cursor: pointer;
}

.login-form input{
      border: 2px solid #444;
      outline: none;
}
.password-field {
  position: relative;
  width: 100%;
}

.password-field input {
  width: 80%;
  padding: 10px 45px 10px 12px; /* more space for icon */
  border-radius: 12px;
  border: 2px solid #444;
  outline: none;
  font-size: 14px;
}

.login-form input:focus {
  border-color: orange;
}

.password-field img {
  position: absolute;
  right: 12px;
  top: 30%;
  height: 18px;
  width: 18px;
  opacity: 0.7;
  cursor: pointer;
  transition: 0.2s ease;
}

.password-field img:hover {
  opacity: 1;
}

/* cart */
.cart-page{
    background-color: antiquewhite;
    padding: 20px;
}

/* orders */
.orders-page{
    background-color: antiquewhite;
    padding: 20px;
}
.orders-page .card{
    border: 1px solid rgb(133, 129, 129);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}